*
!*.java
!NmsProvider.jar
!build.gradle
!settings.gradle
!main/resources/*.yml
!main/resources/*.json
!main/resources/driver.properties
!main/resources/mariadb.properties
!main/resources/sqlite-jdbc.properties
!jitpack.yml
!paper-mappings.yml
!version.yml
!mariadb.jar
!mysql.jar
!h2.jar
!sqlite.jar
!sqlserver.jar
!paper-*.jar
!settings.gradle
!buildNmsProviders.bat
!.gitignore
!README.md
!*/
/bin/
/gradle/
